[package]
name = "tycho-simulator"
version = "0.0.1"
edition = "2021"
description = "A network simulation tool."
include = ["src/**/*.rs"]

[[bin]]
name = "simulator"
path = "src/main.rs"

[dependencies]
anyhow = "1"
clap = { version = "4.5.4", features = ["derive"] }
hex = "0.4.3"
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[lints]
workspace = true
