[package]
name = "tycho-collator"
description = "A collator node."
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
# crates.io deps
anyhow = { workspace = true }
async-trait = { workspace = true }
futures-util = { workspace = true }
parking_lot = { workspace = true }
rand = { workspace = true }
tl-proto = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "signal"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }

everscale-types = { workspace = true }
everscale-crypto = { workspace = true }

# local deps
tycho-core = { workspace = true }
#tycho-consensus = { workspace = true }
tycho-network = { workspace = true }
tycho-storage = { workspace = true }
tycho-util = { workspace = true }
tycho-block-util = { workspace = true }

#TODO: should be here?
tycho-consensus = {workspace = true}



[dev-dependencies]
tracing-test = { workspace = true }

[lints]
workspace = true
