[package]
name = "tycho-cli"
description = "Node CLI."
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[[bin]]
name = "tycho"
path = "./src/main.rs"

[dependencies]
# crates.io deps
anyhow = { workspace = true }
base64 = { workspace = true }
clap = { workspace = true }
everscale-crypto = { workspace = true }
everscale-types = { workspace = true }
hex = { workspace = true }
rand = { workspace = true }
serde_json = { workspace = true }
tikv-jemallocator = { workspace = true, features = [
    "unprefixed_malloc_on_supported_platforms",
    "background_threads",
], optional = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }

# local deps
tycho-network = { workspace = true }
tycho-util = { workspace = true }

[build-dependencies]
anyhow = { workspace = true }
rustc_version = { workspace = true }

[features]
default = ["jemalloc"]
jemalloc = ["dep:tikv-jemallocator"]

[lints]
workspace = true
