[package]
name = "tycho-core"
version = "0.0.1"
edition = "2021"
description = "Basic functionality of peer."

[dependencies]
# crates.io deps
anyhow = "1.0"
everscale-types = { git = "https://github.com/broxus/everscale-types.git"}
tokio = { version = "1.35.1", features = ["sync", "rt"] }

# local deps
tycho-network = { path = "../network", version = "=0.0.1" }
tycho-storage = { path = "../storage", version = "=0.0.1" }
tycho-util = { path = "../util", version = "=0.0.1" }

[lints]
workspace= true