[package]
name = "tycho-util"
description = "Shared utilities for node components."
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
# crates.io deps
ahash = { workspace = true }
anyhow = { workspace = true }
castaway = { workspace = true }
dashmap = { workspace = true }
everscale-crypto = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
humantime = { workspace = true }
libc = { workspace = true }
metrics = { workspace = true }
rand = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_path_to_error = { workspace = true }
thiserror = { workspace = true }
tl-proto = { workspace = true }
tokio = { workspace = true, features = ["time", "sync", "rt"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["time", "sync", "rt-multi-thread", "macros"] }

[features]
test = ["dep:tracing-subscriber"]

[lints]
workspace = true
