[package]
name = "tycho-storage"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
# crates.io deps
anyhow = { workspace = true }
arc-swap = { workspace = true }
bumpalo = { workspace = true }
bytes = { workspace = true }
bytesize = { workspace = true }
crc = { workspace = true }
dashmap = { workspace = true }
everscale-types = { workspace = true }
fdlimit = { workspace = true }
hex = { workspace = true }
humantime = { workspace = true }
libc = { workspace = true }
num-traits = { workspace = true }
parking_lot = { workspace = true }
parking_lot_core = { workspace = true }
quick_cache = { workspace = true }
rlimit = { workspace = true }
serde = { workspace = true }
sha2 = { workspace = true }
smallvec = { workspace = true }
sysinfo = { workspace = true }
tempfile = { workspace = true, optional = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }
triomphe = { workspace = true }
weedb = { workspace = true }

# local deps
tycho-block-util = { workspace = true }
tycho-util = { workspace = true }

[dev-dependencies]
base64 = { workspace = true }
bytesize = { workspace = true }
serde_json = { workspace = true }
tracing-appender = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-test = { workspace = true }
tempfile = { workspace = true }
tokio = { version = "1", features = ["full"] }
tycho-util = { workspace = true, features = ["test"] }

[features]
test = ["dep:tempfile"]

[lints]
workspace = true
