[package]
name = "tycho-consensus"
description = "DAG-based consensus for external messages queue."
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
# crates.io deps
anyhow = { workspace = true }
bincode = { workspace = true }
bytes = { workspace = true, features = ["serde"] }
futures-util = { workspace = true }
serde = { workspace = true, features = ["derive"] }
tracing = { workspace = true }
weedb = { workspace = true }

# local deps
tycho-network = { workspace = true }
tycho-storage = { workspace = true }
tycho-util = { workspace = true }
backtrace = "0.3.71"

[dev-dependencies]
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
tracing-test = { workspace = true }

[lints]
workspace = true
